/* 
    Base Grid: Skeleton Modified 
    Ararazu
*/

/* ====================================================== GRID ======================================================*/

/* #1200px Default Grid */

.sklt-container                                  { position: relative; width: 1200px; margin: 0 auto; padding: 0; }
.sklt-container .column,
.sklt-container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
.row                                             { margin-bottom: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha                    { margin-left: 0; }
.column.omega, .columns.omega                    { margin-right: 0; }

/* Base Grid */
.sklt-container .one.column,
.sklt-container .one.columns                     { width: 55px;  }
.sklt-container .two.columns                     { width: 130px; }
.sklt-container .three.columns                   { width: 205px; }
.sklt-container .four.columns                    { width: 280px; }
.sklt-container .five.columns                    { width: 355px; }
.sklt-container .six.columns                     { width: 430px; }
.sklt-container .seven.columns                   { width: 505px; }
.sklt-container .eight.columns                   { width: 580px; }
.sklt-container .nine.columns                    { width: 655px; }
.sklt-container .ten.columns                     { width: 730px; }
.sklt-container .eleven.columns                  { width: 805px; }
.sklt-container .twelve.columns                  { width: 880px; }
.sklt-container .thirteen.columns                { width: 955px; }
.sklt-container .fourteen.columns                { width: 1030px; }
.sklt-container .fifteen.columns                 { width: 1105px; }
.sklt-container .sixteen.columns                 { width: 1180px; }
.sklt-container .full.columns                    { width: 1200px; }

.sklt-container .one-third.column                { width: 380px; }
.sklt-container .two-thirds.column               { width: 780px; }

/* Offsets */
.sklt-container .offset-by-one                   { padding-left: 75px;  }
.sklt-container .offset-by-two                   { padding-left: 150px; }
.sklt-container .offset-by-three                 { padding-left: 225px; }
.sklt-container .offset-by-four                  { padding-left: 300px; }
.sklt-container .offset-by-five                  { padding-left: 375px; }
.sklt-container .offset-by-six                   { padding-left: 450px; }
.sklt-container .offset-by-seven                 { padding-left: 525px; }
.sklt-container .offset-by-eight                 { padding-left: 600px; }
.sklt-container .offset-by-nine                  { padding-left: 675px; }
.sklt-container .offset-by-ten                   { padding-left: 750px; }
.sklt-container .offset-by-eleven                { padding-left: 825px; }
.sklt-container .offset-by-twelve                { padding-left: 900px; }
.sklt-container .offset-by-thirteen              { padding-left: 975px; }
.sklt-container .offset-by-fourteen              { padding-left: 1050px; }
.sklt-container .offset-by-fifteen               { padding-left: 1125px; }

/* #960 Grid
================================================== */

    /* Design for a width of 960px */
@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .sklt-container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .sklt-container .column,
    .sklt-container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .sklt-container .one.column,
    .sklt-container .one.columns                     { width: 40px;  }
    .sklt-container .two.columns                     { width: 100px; }
    .sklt-container .three.columns                   { width: 160px; }
    .sklt-container .four.columns                    { width: 220px; }
    .sklt-container .five.columns                    { width: 280px; }
    .sklt-container .six.columns                     { width: 340px; }
    .sklt-container .seven.columns                   { width: 400px; }
    .sklt-container .eight.columns                   { width: 460px; }
    .sklt-container .nine.columns                    { width: 520px; }
    .sklt-container .ten.columns                     { width: 580px; }
    .sklt-container .eleven.columns                  { width: 640px; }
    .sklt-container .twelve.columns                  { width: 700px; }
    .sklt-container .thirteen.columns                { width: 760px; }
    .sklt-container .fourteen.columns                { width: 820px; }
    .sklt-container .fifteen.columns                 { width: 880px; }
    .sklt-container .sixteen.columns                 { width: 940px; }
    .sklt-container .full.columns                    { width: 960px; }

    .sklt-container .one-third.column                { width: 300px; }
    .sklt-container .two-thirds.column               { width: 620px; }

    /* Offsets */
    .sklt-container .offset-by-one                   { padding-left: 60px;  }
    .sklt-container .offset-by-two                   { padding-left: 120px; }
    .sklt-container .offset-by-three                 { padding-left: 180px; }
    .sklt-container .offset-by-four                  { padding-left: 240px; }
    .sklt-container .offset-by-five                  { padding-left: 300px; }
    .sklt-container .offset-by-six                   { padding-left: 360px; }
    .sklt-container .offset-by-seven                 { padding-left: 420px; }
    .sklt-container .offset-by-eight                 { padding-left: 480px; }
    .sklt-container .offset-by-nine                  { padding-left: 540px; }
    .sklt-container .offset-by-ten                   { padding-left: 600px; }
    .sklt-container .offset-by-eleven                { padding-left: 660px; }
    .sklt-container .offset-by-twelve                { padding-left: 720px; }
    .sklt-container .offset-by-thirteen              { padding-left: 780px; }
    .sklt-container .offset-by-fourteen              { padding-left: 840px; }
    .sklt-container .offset-by-fifteen               { padding-left: 900px; }
}


/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .sklt-container                                  { width: 768px; }
        .sklt-container .column,
        .sklt-container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .sklt-container .one.column,
        .sklt-container .one.columns                     { width: 28px; }
        .sklt-container .two.columns                     { width: 76px; }
        .sklt-container .three.columns                   { width: 124px; }
        .sklt-container .four.columns                    { width: 172px; }
        .sklt-container .five.columns                    { width: 220px; }
        .sklt-container .six.columns                     { width: 268px; }
        .sklt-container .seven.columns                   { width: 316px; }
        .sklt-container .eight.columns                   { width: 364px; }
        .sklt-container .nine.columns                    { width: 412px; }
        .sklt-container .ten.columns                     { width: 460px; }
        .sklt-container .eleven.columns                  { width: 508px; }
        .sklt-container .twelve.columns                  { width: 556px; }
        .sklt-container .thirteen.columns                { width: 604px; }
        .sklt-container .fourteen.columns                { width: 652px; }
        .sklt-container .fifteen.columns                 { width: 700px; }
        .sklt-container .sixteen.columns                 { width: 748px; }

        .sklt-container .one-third.column                { width: 236px; }
        .sklt-container .two-thirds.column               { width: 492px; }

        /* Offsets */
        .sklt-container .offset-by-one                   { padding-left: 48px; }
        .sklt-container .offset-by-two                   { padding-left: 96px; }
        .sklt-container .offset-by-three                 { padding-left: 144px; }
        .sklt-container .offset-by-four                  { padding-left: 192px; }
        .sklt-container .offset-by-five                  { padding-left: 240px; }
        .sklt-container .offset-by-six                   { padding-left: 288px; }
        .sklt-container .offset-by-seven                 { padding-left: 336px; }
        .sklt-container .offset-by-eight                 { padding-left: 384px; }
        .sklt-container .offset-by-nine                  { padding-left: 432px; }
        .sklt-container .offset-by-ten                   { padding-left: 480px; }
        .sklt-container .offset-by-eleven                { padding-left: 528px; }
        .sklt-container .offset-by-twelve                { padding-left: 576px; }
        .sklt-container .offset-by-thirteen              { padding-left: 624px; }
        .sklt-container .offset-by-fourteen              { padding-left: 672px; }
        .sklt-container .offset-by-fifteen               { padding-left: 720px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .sklt-container { width: 300px; }
        .sklt-container .columns,
        .sklt-container .column { margin: 0; }

        .sklt-container .one.column,
        .sklt-container .one.columns,
        .sklt-container .two.columns,
        .sklt-container .three.columns,
        .sklt-container .four.columns,
        .sklt-container .five.columns,
        .sklt-container .six.columns,
        .sklt-container .seven.columns,
        .sklt-container .eight.columns,
        .sklt-container .nine.columns,
        .sklt-container .ten.columns,
        .sklt-container .eleven.columns,
        .sklt-container .twelve.columns,
        .sklt-container .thirteen.columns,
        .sklt-container .fourteen.columns,
        .sklt-container .fifteen.columns,
        .sklt-container .sixteen.columns,
        .sklt-container .one-third.column,
        .sklt-container .two-thirds.column  { width: 300px; }

        /* Offsets */
        .sklt-container .offset-by-one,
        .sklt-container .offset-by-two,
        .sklt-container .offset-by-three,
        .sklt-container .offset-by-four,
        .sklt-container .offset-by-five,
        .sklt-container .offset-by-six,
        .sklt-container .offset-by-seven,
        .sklt-container .offset-by-eight,
        .sklt-container .offset-by-nine,
        .sklt-container .offset-by-ten,
        .sklt-container .offset-by-eleven,
        .sklt-container .offset-by-twelve,
        .sklt-container .offset-by-thirteen,
        .sklt-container .offset-by-fourteen,
        .sklt-container .offset-by-fifteen { padding-left: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .sklt-container { width: 420px; }
        .sklt-container .columns,
        .sklt-container .column { margin: 0; }

        .sklt-container .one.column,
        .sklt-container .one.columns,
        .sklt-container .two.columns,
        .sklt-container .three.columns,
        .sklt-container .four.columns,
        .sklt-container .five.columns,
        .sklt-container .six.columns,
        .sklt-container .seven.columns,
        .sklt-container .eight.columns,
        .sklt-container .nine.columns,
        .sklt-container .ten.columns,
        .sklt-container .eleven.columns,
        .sklt-container .twelve.columns,
        .sklt-container .thirteen.columns,
        .sklt-container .fourteen.columns,
        .sklt-container .fifteen.columns,
        .sklt-container .sixteen.columns,
        .sklt-container .one-third.column,
        .sklt-container .two-thirds.column { width: 420px; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .sklt-container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }

/* =================================================== RESPONSIVE ===================================================*/

/* Design for a width of 960px */
@media only screen and (min-width: 960px) and (max-width: 1199px) {
    body {
        left: 0 !important;
        margin-left: 0 !important;
        position: relative !important;
        width: 100% !important;
    }

    /* Courses */
    .coursebox .content .summary{
        width: 440px !important;
    }

    /* Frontpage */    

        /* Featured Courses */
        .grid li, .grid figure{
            width: 220px;
            height: 220px;
        }
        body#page-my-index #contentarea .course,
        body#page-site-index #contentarea .course{
            height: 220px;
        }

        .grid figure img {
            height: 220px;
            width: 220px;
        }

        /* Slideshow */
        .da-slider{
            max-width: 1025px;
        }

        /* Linkbox */
        .linkbox{
            height: 300px;
        }
        .linkbox p.description{
            margin-top: 20px;
        }
        .linkbox div.readmore{
            margin-top: 15px;
        }

        /* Menu */
        div#menu>ul>li>a{
            font-size: 18px !important;
            margin: 20px 15px !important;
        }
        div#menu>ul>li:last-child>a{
            margin: 20px 0 20px 15px !important;    
        }
}

/* Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    body {
        left: 0 !important;
        margin-left: 0 !important;
        position: relative !important;
        width: 100% !important;
    }

    /* Courses */

        .coursebox .content .summary{
            float: none !important;
            margin: 0 !important;
            width: 100% !important;
        }

        .category-browse .coursebox .content .courseimage,
        .course-search-result .courseimage,
        .expanded .courseimage,
        .coursebox .courseimage{
            height: 300px !important;
            width: 100% !important;
            text-align: center;
            margin: 0 !important;
        }

        .category-browse .coursebox .content .courseimage img,
        .course-search-result .courseimage img,
        .expanded .courseimage img,
        .coursebox .courseimage img{
            max-width: 280px !important;
            max-height: 280px !important;
            width: 100% !important;
            height: auto !important;
        }

    /* Header */

    #header5 p#topText{
        display: none !important;
    }

    /* Frontpage */    

        /* Featured Courses */
        .grid li, .grid figure{
            width: 170px;
            height: 170px;
        }
        body#page-my-index #contentarea .course,
        body#page-site-index #contentarea .course{
            height: 170px;
        }

        .grid figure img {
            height: 170px;
            width: 170px;
        }
        
        .cs-style-3 figcaption {
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
        }

        /* Slideshow */
        .da-slider{
            max-width: 785px;
        }

        /* Linkbox */
        .linkbox{
            height: 350px;
        }
        .linkbox p.description{
            margin-top: 20px;
        }
        .linkbox div.readmore{
            margin-top: 15px;
        }

        /* Menu */
        div#menu>ul>li>a{
            font-size: 14px !important;
            margin: 24px 15px !important;
        }
        div#menu>ul>li:last-child>a{
            margin: 24px 0 24px 15px !important;    
        }   
}

/* Design for a width of 320px */
@media only screen and (max-width: 767px) {
    /* General */
        body {
            left: 0 !important;
            margin-left: 0 !important;
            position: relative !important;
            width: 100% !important;
        }
        .leftsidebar, .rightsidebar{
            min-height: 0 !important;
        }

        .leftsidebar{
            margin-bottom: 20px !important;
        }
        #sliderbanner,.shadow1{
            display: none;
        }
    
    /* Courses */

        .coursebox .content .summary{
            float: none !important;
            margin: 0 !important;
            width: 100% !important;
        }

        .category-browse .coursebox .content .courseimage,
        .course-search-result .courseimage,
        .expanded .courseimage,
        .coursebox .courseimage{
            height: 300px !important;
            width: 100% !important;
            text-align: center;
            margin: 0 !important;
        }

        .category-browse .coursebox .content .courseimage img,
        .course-search-result .courseimage img,
        .expanded .courseimage img,
        .coursebox .courseimage img{
            max-width: 280px !important;
            max-height: 280px !important;
            width: 100% !important;
            height: auto !important;
        }
        .cs-style-3 figcaption {
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
        }


    /* Header */
        div#responsive_menu{
            margin-top: 25px;
        }
        div#responsive_menu_button{
            display: block;
        }
        div#menu{
            display: none;
        }
        #defaultlogo, #logo{
            display: inline-table;
        }
        #header4 #defaultlogo, #header4 #logo,#header5 #defaultlogo, #header5 #logo{
            float: left;
        }
        #header4 div#responsive_menu{
            top: 95px;
            margin-top: 0;
        }
        #header5 div#responsive_menu{
            top: 104px;
            margin-top: 0;
        }
        #header5 #login, #header5 #logout{
            display: none;
        }
        #header5 .loginResponsive{
            display: block;
        }
        #header5 #menubar{
            padding: 0;
        }
        #header5 .socialiconsArea, #header5 .topbutton, #header5 #toptext{
            margin: 0;
        }

        #header1 p#topText,
        #header2 p#topText,
        #header3 p#topText,
        #header4 p#topText,
        #header5 p#topText{
            display: none !important;
        }

    /* Footer */
        #footerendright{
            float: none;
            padding-top: 10px;
            margin-bottom: 30px !important;
            margin-left: -10px !important;
        }
        #footer, #footerend{
            position: relative !important;
        }

    /* Frontpage */    

        /* Featured Courses */
        .grid{
            padding: 0;
        }
        .grid li, .grid figure{
            height: auto;
            width: 100%;
        }
        .grid figure img{
            height: auto;
            width: 100%;
        }
        body#page-my-index #contentarea .course,
        body#page-site-index #contentarea .course{
            border: 0;
            height: auto;
            margin-bottom: 10px !important;
        }
        .cs-style-3 figcaption {
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
        }

        /* Slideshow */
        #slider1{
            display: none;
        }
        #sliderarea.contentSliderPlugin{
            height: 40px;
        }

        /* Linkbox */
        .linkbox{
            height: 270px;
            margin-bottom: 10px !important;
        }
        .linkbox p.description{
            margin-top: 20px;
        }
        .linkbox div.readmore{
            margin-top: 15px;
        }
}


@media only screen and (max-width: 479px) {
    #loginContainer{
        margin: 0 auto !important;
    }
    .loginbox form div.leftarea .inputarea div{
        float: none !important;
        margin-bottom: 5px !important;
    }
    .loginbox form div.leftarea .inputarea {
        height: 120px !important;
        margin-top: 0 !important;
    }
    .loginbox form div.leftarea a{
        display: none !important;
    }
    .loginbox form,.loginbox{
        width: 265px !important;
    }
    .shadow2{
        display: none !important;
    }
}